<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="card" *ngFor="let activite of listeact">
      <img class="card-img-top" src={{activite.imageA}}>
      <!-- <img class="card-img-top" src="assets/image/dos.png"> -->
      <div class="card-body">
        <br>
        <h1 class="card-title">{{activite.nomA}}</h1>
        <h5 class="card-title">{{activite.descriptionA}}</h5>
      </div>
    
      <div class="card-footer">
        <div style="text-align:center">
          <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark" (click)="update(activite)" >Modifier</button>
          <button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark" (click)="deleteact(activite.id)" >Supprimer</button>
      </div></div>
    
    
    </div>
    </div>
    