<html>
    <body>
        <head><title>Login</title>
        <style>

body {
        background-image: url("assets/img/2.png");
        background-size: cover;
        padding: 90px;
        border-bottom:2px solid transparent; 
    }
.container {

width: 70%;
height: 110%;
margin: 0 auto;
min-height: 100%;
top: 0;
left: 100;
z-index: 10;
text-align:left;
text-transform: capitalize;
background-color: rgba(0, 0, 0, 0.66);
border-bottom: 2px solid transparent;
padding-top: 0%;
padding: 0cm;
}
form {  width: 250px;
        height: 50;
        margin: 0 auto;
        background-repeat: no-repeat;
        /* background:rgba(0, 0, 0, 0.15); */
        height: 85%;
        min-height: 80%;
        top: 0;
        left: 0;
        z-index: 99;
        text-align: left;
        text-transform: capitalize;
        border-bottom:2px solid transparent;
        padding-top: 0%;
        padding :0cm;
        -o-transition: all .2s;
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
        -ms-transition: all .2s;
    }
    input
  {
    width: 300px;
    height: 20px;
    margin-top: 1px;
    padding: 15px;
    background: #000000;
    background: rgba(189, 129, 80, 0.15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-align: center;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 40px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    position: relative;

  }
  form.user input[type="text"], form.user input[type="password"],form.user input[type="date"],form.user input[type="email"],form.user input[type="number"]
{
width:300px;
height:42px;
margin-top:25px;
padding:0 15px;
background:#2d2d2d;
background:rgba(45,45,45,.15);
-moz-border-radius: 6px;
-webkit-border-radius:6px;
text-align:center;
border-radius:6px;
border:1px solid #3d3d3d;
border:1px solid rgba(255,255,255,.15);
-moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;
-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
font-family: 'PT Sans', Helvetica, Arial, sans-serif;
font-size:16px;
color:#fff;
text-shadow:0 1px 2px rgba(0,0,0,.1);
-o-transition: all .2s;
-moz-transition: all .2s;
-webkit-transition: all .2s;
-ms-transition: all .2s;

}

    </style>  
        </head>
<br><br>
<div  class="container" style="margin-left: -500;">
        <div class="col-12 col-lg-8" style="margin-left: -500;">
            <div class="login-content">
                <div class="wrap">
                <!-- Login Form -->
                    <form class="user" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <h1 style="color: rgb(255, 255, 255);" class="h4 text-gray-900 mb-4">&nbsp;&nbsp;&nbsp;&nbsp;<img  src="assets/img/0.png">&nbsp;&nbsp;</h1>
                        <div class="row">
                            <div class="col-xs-4 col-md-4">  
                            <!-- <label>Nom</label> -->
                            <input style="margin-left: 12cm;" type="text" name="nom" class="form-control" placeholder="Enter votre nom" [(ngModel)]="form.nom" required nom #nom="ngModel">
                            </div>
                            <div class="col-xs-4 col-md-4">
                            <!-- <label>Prenom</label> -->
                            <input type="text" class="form-control" name="prenom" placeholder="Enter votre prenom " [(ngModel)]="form.prenom " required prenom #prenom="ngModel">
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6">  
                            <!-- <label for="datenaiss">Date de Naissance</label> -->
                            <input style="margin-left: 12cm;" type="date" autocomplete="date" class="form-control" name="datenaiss" [(ngModel)]="form.datenaiss" required #datenaiss="ngModel">
                            </div>
                            <div class="col-xs-6 col-md-6">  
                            <!-- <label>Email </label> -->
                            <input type="email" class="form-control" name="email" placeholder=" Enter votre email " [(ngModel)]="form.email " required email #email="ngModel">
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-md-6"> 
                            <!-- <label>Password</label> -->
                            <input style="margin-left: 12cm;" type="password" class="form-control" name="password" placeholder="Entrer votre Password " [(ngModel)]="form.password " required password #password="ngModel">
                        </div>
                        <div class="col-xs-6 col-md-6"> 
                            <!-- <label for="telephone">Telephone</label> -->
                            <input type="number" autocomplete="telephone" class="form-control" name="telephone" placeholder="Entrer votre Telephone " [(ngModel)]="form.telephone" required telephone #telephone="ngModel">
                            <div *ngIf="f.submitted && telephone.invalid">
                            </div>
                            </div>
                        </div>

                       

                        <div class="col-lg-6">
                            <!-- <label for="poids">Poids</label> -->
                            <input type="number" autocomplete="off" class="form-control" name="poids" placeholder="Entrer votre Poids " [(ngModel)]="form.poids" required poids #poids="ngModel">
                            <div *ngIf="f.submitted && poids.invalid">
                            </div>
                        </div>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <!-- <button 
                        style="  background-color: black;
                                    width: 100%;
                                    border: 0;
                                    font-size: 14px;
                                    text-transform: uppercase;
                                    font-weight: 200;
                                    margin-top: 10px;
                                    outline: 0;
                                    cursor: pointer;
                                    letter-spacing: 1px;
                                    transition: background-color 0.5s ease;"
                        
                        type="submit " class="btn oneMusic-btn mt-30 ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Creer un compte</button> -->

                        <button   style="  background-color: black;
                        width: 100%;
                        border: 0;
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 200;
                        margin-top: 10px;
                        outline: 0;
                        cursor: pointer;
                        letter-spacing: 1px;
                        transition: background-color 0.5s ease;" type="submit " class="btn oneMusic-btn mt-30 ">Register</button>

                    </form>
                </div>

            </div>
    </div>
</div>

    
</body>
</html>