

<div class="container" *ngIf="GymUser">
  <br>
  <br>
  <form style="width: 600px;
  height: 25cm;
  margin: 0 auto;
  background-color: aliceblue;
  background-repeat: no-repeat;
  /* background:rgba(0, 0, 0, 0.15); */
  height: 85%;
  min-height: 80%;
  top: 0;
  left: 0;
  z-index: 99;
  text-align: center;
  text-transform: capitalize;
  border-bottom:2px solid transparent;
  padding-top: 0%;
  padding :0cm;
  -o-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -ms-transition: all .2s;
">     <p style="color: black;">Mon Profil</p>

      <div class="row">
          <div class="col-md-4">
          </div>
          <!-- <div class="col-md-6">
              <div class="profile-head">
                  <h5 >
                      {{ GymUser.username }}
                  </h5>
                  <h6>
                      <li *ngFor="let role of GymUser.roles">
                          {{ role }}
                      </li>
                  </h6>
              </div>
          </div> -->
          <br><br><br><br>
          <!-- <div class="col-md-2">
              <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
          </div> -->
      </div>
      <div class="row">

          <div class="col-md-8">
              <div class="tab-content profile-tab" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <!-- <div class="row">
                          <div class="col-md-6">
                              <label style="color: rgb(0, 0, 0);">Role</label>
                          </div>

                          <div class="col-md-6">
                              <p> {{ GymUser.role }}</p>
                          </div>
                      </div> -->
                      <div class="row">
                          <div class="col-md-6">
                              <label style="color: rgb(0, 0, 0);">Nom</label>
                          </div>
                          <div class="col-md-6">
                              <p> {{ GymUser.nom }}</p>
                              <!-- <button style="background-color: rgb(84, 87, 84); width: 5cm; "  class="btn btn-primary btn-user btn-block">Modifier</button> -->

                          </div>

                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <label style="color: rgb(0, 0, 0);">Prenom</label>
                          </div>
                          <div class="col-md-6">
                              <p> {{ GymUser.prenom }}</p>
                              <!-- <button style="background-color: rgb(84, 87, 84); width: 5cm; "  class="btn btn-primary btn-user btn-block">Modifier</button> -->

                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <label style="color: rgb(0, 0, 0);">Date de naissance</label>
                          </div>
                          <div class="col-md-6">
                              <p> {{ GymUser.datenaiss }}</p>
                              <!-- <button style="background-color: rgb(84, 87, 84); width: 5cm; "  class="btn btn-primary btn-user btn-block">Modifier</button> -->

                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <label style="color: rgb(0, 0, 0);">Email</label>
                          </div>
                          <div class="col-md-6">
                              <p> {{ GymUser.email }}</p>
                              <!-- <button style="background-color: rgb(84, 87, 84); width: 5cm; "  class="btn btn-primary btn-user btn-block">Modifier</button> -->

                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-6">
                              <label style="color: rgb(0, 0, 0);">Telephone</label>
                          </div>
                          <div class="col-md-6">
                              <p> {{ GymUser.telephone }}</p>
                              <!-- <button style="background-color: rgb(84, 87, 84); width: 5cm; "  class="btn btn-primary btn-user btn-block">Modifier</button> -->

                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <label style="color: rgb(0, 0, 0);">Poids</label>
                          </div>
                          <div class="col-md-6">
                              <p> {{ GymUser.poids }}</p>
                              <button style="background-color: rgb(84, 87, 84); width: 5cm; "  class="btn btn-primary btn-user btn-block">Modifier</button>

                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </form>
</div>
<br> <br> <br>
