<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let events of list">
    <div class="card">
      <img src={{events.image}}>
      <div class="card-body">
        <h5 class="card-title">{{events.nomE}}</h5>
        <p class="card-text">{{events.description}}</p>
        <p class="card-date">{{events.dateE}}</p>
      </div>
    </div>
  </div>
</div> -->
<div class="row row-cols-1 row-cols-md-3 g-4">
<div class="card" *ngFor="let events of list">
  <img class="card-img-top" src={{events.image}}>
  <!-- <img class="card-img-top" src="assets/image/dos.png"> -->
  <div class="card-body">
    <br>
    <h1 class="card-title">{{events.nomE}}</h1>
    <h5 class="card-title">{{events.description}}</h5>
    <p class="card-text">{{events.dateE}}</p>
  </div>

  <div class="card-footer">
    <div style="text-align:center">
      <button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark" (click)="update(events)" >Modifier</button>
      <button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark" (click)="deleteEvents(events.id)" >Supprimer</button>
  </div></div>


</div>
</div>
