 <div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="nom">Nom</label>
          <input
            type="text"
            class="form-control"
            id="nom"
            required
            [(ngModel)]="utilisateur.nom"
            name="nom"
          />
        </div>
  
        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input
            class="form-control"
            id="prenom"
            required
            [(ngModel)]="utilisateur.prenom"
            name="prenom"
          />
        </div>

         <div class="form-group">
          <label for="datenaiss">Date de naissance</label>
          <input
            class="form-control"
            id="datenaiss"
            required
            [(ngModel)]="utilisateur.datenaiss"
            name="datenaiss"
          />
        </div>

         <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            id="email"
            required
            [(ngModel)]="utilisateur.email"
            name="email"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control"
            id="password"
            required
            [(ngModel)]="utilisateur.password"
            name="password"
          />
        </div>

         <div class="form-group">
          <label for="telephone">Telephone</label>
          <input
            class="form-control"
            id="telephone"
            required
            [(ngModel)]="utilisateur.telephone"
            name="telephone"
          />
        </div>

          <div class="form-group">
          <label for="poids">Poids</label>
          <input
            class="form-control"
            id="poids"
            required
            [(ngModel)]="utilisateur.poids"
            name="poids"
          />
        </div>
  
        <button (click)="saveutilisateur()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Utilisateur was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newutilisateur()">Ajout d'un utilisateur</button>
      </div>
    </div>
  </div>
   